<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登録完了</title>

    <link rel="stylesheet" th:href="@{http://fonts.googleapis.com/css?family=Exo:900}"/>
    <link rel="stylesheet"
          th:href="@{https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<nav th:insert="header.html :: header"></nav>

<div class="full height image">
    <div class="ui main container">
        <div class="ui information container">
            <div class="ui middle center aligned grid">
                <div class="center column">
                    <div class="ui segment">
                        <h2 class="ui aligned header teal">登録完了</h2>
                        <div class="ui comments">
                            登録を受け付けました。<br>
                            ご登録いただいたメールアドレス宛にご連絡いたします。
                        </div>
                        <a class="ui teal button" href="/action/index">トップページに戻る</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
